.UserDisplay {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    background: #474747;
  }

  > img {
    object-fit: cover;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
  }

  .user-information {
    &__status {
      color: #9e9e9e;
    }
  }
}