.LoginPage {  
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: var(--primary-color);
  }
  
  .login-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    
    > div {
      text-align: center;
      padding: 12px;
      color: #595959;
      background: #f5f5f5;
      width: 100%;
      border: 1px solid #ccc;

      &.active {
        background: #fff;
        color: #000;
      }
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;

    > input:focus {
      outline: none;
    }
  }

  .login-btn {
    width: 100%;
    border: 1px solid #000;
    outline: none;
    background: #fff;
  }

  .error {
    color: #ff0000;
  }
}