.AddFriendPage {
  display: flex;

  .menu-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s all;

    &:hover {
      background: #474747;
    }

    .circle {
      border-radius: 50%;
      height: 24px;
      width: 24px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #474747;
    }
  }
}